<!DOCTYPE html>
<html lang="en">
    <head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
    	<div class="main container-fluid">
    	    <div class="container">
	    	<form class="navbar-form navbar-left" role="search">
		    <div class="form-group">
			<input type="text" class="form-control" placeholder="Search name or #tags">
		    </div>
		    <button type="submit" class="btn btn-default">Submit</button>
		</form>
	    </div>
    	    <ul class="list-group">
    	    {% for receipt in receipts %}
    	        <li class="list-group-item">
    	            <div class="row" onclick="location.href='/servefile/{{ receipt.picture_dlink }}';" style="cursor: pointer;">
    	    		<div class="col-md-2"><label>{{ receipt.desc }}</label></div>
    	    		<div class="col-md-2"><small>{{ receipt.date | date }}</small></div>
    	    	    </div>
    	        </li>
    	    {% endfor %}
    	    </ul>
    	</div>
    </body>
</html>